@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.menu_list-item a {
    text-decoration: none;
}



ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    min-height: 100%;
    line-height: 1;
    background: #E1E1E1;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}



*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 1296px;
    margin: 0px auto;
    padding: 0 15px;
}




.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

}

.header_inner {
    max-width: 1296px;
    padding: 20px;
    min-height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #2449AB;
    line-height: 117%;
    font-weight: 900;
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 117%;
    font-weight: 400;
    color: white;
    cursor: pointer;
    
    
   
}


.menu_list-item a, b{
    color: #FFFFFF;
   margin: 0px 37px 0px 0px;
   
}

.menu_list-item a {
    margin: 0px 37px 0px 0px;
}

.menu_list-item:hover {
    text-decoration: underline;
    color: #FFFFFF;
}


.menu_list-item_active {
    opacity: 0.4;
}

.main {
    width: 100%;
    margin: auto;
    flex-grow: 1;
}

.main_top-background {
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #6e0000;
}



.main_content {
    width: 100%;
    background: #E1E1E1;
}


.main-content_inner {
    padding: 120px 0px;
}


.section {
    width: 100%;
    margin: auto;
    min-height: 194px;
    background: #2449AB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 108px;

  
}


.section .inside_section {
     display: flex;
     gap: 25px;
     padding-top: 64px;

}

.section .inside_section h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}

.section .inside_section p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    width: 100px;
    padding-top: 10px;
}

.main-information_side {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.header-block_title {
    font-size: 36px;
    font-weight: 600;
    color: #0A043C;
    line-height: 155%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.header-block_text  {
    font-size: 16px;
    line-height: 150%;
    color: #0A043C;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}

.submit {
    width: 153px;
    min-height: 56px;
    background: #2449AB;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease 0s;

}

.submit:hover {
    background: #1f3d8f;
}

.main-information_side .right_side {
    display: flex;
}

.main-information_image img{
   width: 100%;
}

.main_information {
    width: 100%;
    background: #FFFFFF;
}

.main-services_info {
width: 100%;
background: cyan;
margin-top: -50px;
}

.main-services_side .left-side {
    max-width: 632px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}


.main-services_side {
    display: flex;
    align-items: center;

}

.main-services_side .right-side {
     margin: 0px 0px 0px 100px;
} 

.main-services_side {
    padding: 60px 0px;
}



 #main-services .card {
    padding: 100px 0px;
    height: 274px;
    width: 300px;
    border: none;
}

.services-title {
    max-width: 266px;
    margin: auto;
    font-size: 18px;
    line-height: 144%;
    color: #0A043C;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.services-text {
    max-width: 266px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    font-size: 16px;
    line-height: 162%;
}

.services-number {
    width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: -30px;
    background: cyan;
    border-radius: 100%;
    margin-bottom: 20px;
    z-index: 10;
    
}

.submit_one {
    width: 184px;
    min-height: 56px;
    background: #2449AB;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.submit_one:hover {
    background: #1f3d8f;
}



.team {
    padding: 120px 0px;
}


.team-column,
.team-image img {
    width: 98%;
    border-radius: 10px;
}

.team-body {
    display: flex;
    flex-wrap: wrap;
}

.team-iniciall {
    position: relative;
   width: 90%;
    min-height: 64px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    margin-top: -103px;
    box-shadow: inset 40px 85px 50px white;
}

.team-info {
    width: 200%;
    padding: 20px 0px;
    margin-left: 24px;
    line-height: 170%;
}

.team-info_title {
    font-size: 18px;
    line-height: 166%;
    color: #0A043C;
    font-weight: 500;
}

.team-info_text {
    font-size: 14px;
    line-height: 157%;
    color: #0A043C;
    font-weight: 400;
}


@media (max-width: 992px) {
    .team-body {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 30px 0;
    }
    .team-column,
.team-image img {
    width: 195%;
    margin: auto;
}
.team-iniciall {
    width: 150%;
  
}
.team  {
    margin-top: -100px;
}
}


@media (max-width: 992px) {
    .team-iniciall {
        width: 175%;
        margin-top: -70px;
        
    }
    .team-info {
        padding: 5px 0px;

    }
}

@media (max-width: 400px) {

    .team-body {

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 30px 0;
}
}


.main-testimonials {
padding: 60px 0px;
background: cyan;
}


.testimonials-header_block {
    max-width: 468px;
}

.main-testimonials-side {
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
}

   
.main-testimonials-side .right-side  {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.testimonials-image_block-top {
    position: relative;
}

.testimonials-inicial {
    position: absolute;
    top: 70%;
    width: 506px;
    min-height: 84px;
    border: 1px solid black;
    box-shadow: inset 35px 85px 45px rgb(228, 221, 221);
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding: 0px 0px 0px 20px;
   

}

.testimonials-image_top {
    border-radius: 15px;
}

.testimonials-image_top-title {
font-size: 18px;
color: #0A043C;
font-weight: 500;
line-height: 166%;
}

.testimonials-image_top-text {
font-size: 14px;
color: #0A043C;
line-height: 157%;
}

.testimonials-image_block-bottom {
   width: 526px;
   height: 357px;
   background: #2449AB;
   border-radius: 15px;
}

.testimonials-image_block-bottom_inner {
    padding: 40px 40px 60px 48px;
}

.testimonials-image_bottom{
  border-radius: 100%;
  margin-bottom: 40px;
}

.testimonials-image_bottom_title {
margin-bottom: 10px;
color: #FFFFFF;
font-size: 18px;
line-height: 166%;
font-weight: 500;
}

.testimonials-image_bottom_text {
color: #FFFFFF;
font-size: 16px;
min-height: 87px;
line-height: 175%;
}

.testimonials-image {
    border-radius: 15px;
}



.footer {
    width: 100%;
 padding: 130px 0;
 background: #FFFFFF;
}

.footer-content {

}

.footer-inner {

}

.footer-inner_body {
    display: flex;
    gap: 148px;
}

.footer-left_side {
    display: flex;
    gap: 148px;
}

.footer-item_list {
    
}

.footer-item_link a{
    font-size: 16px;
    color: #0A043C;
    line-height: 187%;
    font-weight: 400;
    text-decoration: none;
}

.footer-item_link a:hover {
    text-decoration: underline;
}


.item-link_footer {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 36px;
    line-height: 157%;
    color: #0A043C;
    letter-spacing: 2px;
}

.footer-right_side {
    display: flex;
   gap: 149px;
}

.link-item_footer {
   
    padding-top: 5px;
    
}

.link-item_footer a {
    line-height: 130%;
}

.footer-link-item {
    padding-top: 10px;

}

















